<div>.
<h1 style="text-align:center;
color:rgb(234, 45, 99);
font-weight:bold;
font-size:55px;
margin-bottom:-1px;"><img
    src="https://cdn.iconscout.com/icon/free/png-256/coronavirus-2312023-1920136.png" height="75px">&nbsp; &nbsp; Covid 19 Track Records &nbsp;&nbsp;<img
    src="https://cdn.iconscout.com/icon/free/png-256/coronavirus-2312023-1920136.png" height="75px">
</h1>
<section class="content-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <table class="table-striped table-responsive table-hover result-point" style="box-shadow:0 0 3px 1px black;">
          <thead class="point-table-head">
            <tr>
              <th class="text-center" style="font-size:23px;">No.</th>
              <th class="text-center" style="font-size:23px;">Province</th>
              <th class="text-center" style="font-size:23px;">Deaths</th>
              <th class="text-center" style="font-size:23px;">Confirmed</th>
              <th class="text-center" style="font-size:23px;">Recovered</th>
            </tr>
          </thead>
          <tbody class="text-center" id="recordz">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="spinner-border text-info" style="color: rgb(224, 172, 224)!important" id="spinnerz" *ngIf="this.loading" role="status"></div>
</div>
